.multiselect {
  width: 200px;
  float: none;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.multiselect div[id^="checkboxes"] {
  display: none;
  border: 1px #dadada solid;
}

.multiselect div[id^="checkboxes"] label {
  display: block;
}

.multiselect div[id^="checkboxes"] label:hover {
  background-color: #1e90ff;
}

