<!DOCTYPE html>
<html>
<script>
  function add_field()
  {
	var total_text=document.getElementsByClassName("input_text");
	total_text=total_text.length+1;
	field_div = document.getElementById("field_div");
	// new_input = "<li id='input_text"+total_text+
	// "_wrapper'><label>Person "+total_text+"</label> <input type='text' class='input_text' name='input_text[]' id='input_text"+
	// total_text+"' placeholder='Enter Text' required> <input type='button'value='x' onclick='remove_field("+total_text+");'></li>";

	new_input = "<div class='form-row'> <div class='form-holder'> <label class='form-row-inner'> <input type='text' class='form-control input_text' name='input_text[]' id='input_text"+
	total_text+"' required> <span class='label'>Person "+total_text+"</span> <input type='button' value='x' onclick='remove_field("+total_text+");'> </label> </div></div>";
	field_div.insertAdjacentHTML('beforeend',new_input);
  }

  function remove_field(index)
  {
	var total_text=document.getElementsByClassName("input_text");
	document.getElementById("input_text"+index+"_wrapper").remove();
  }
</script>
<head>
	<meta charset="utf-8">
	<title>Shittysplit</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="../static/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="../static/css/style.css"/>
	<link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
	<div class="page-content">
		<div class="wizard-heading">Shittysplit</div>
		<div class="wizard-v6-content">
			<div class="wizard-form">
		        <form class="form-register" id="form-register" action='/trans' method="post">
		        	<div id="form-total">
		        		<!-- SECTION 1 -->
			            <h2>
			            	<p class="step-icon"><span>1</span></p>
			            	<span class="step-text">Personal Info</span>
			            </h2>
			            <section>
			                <div class="inner">
			                	<div class="form-heading">
			                		<h3>Personal Info</h3>
			                		<span>1/3</span>
			                	</div>
			                	<div id="field_div">
									<div class="form-row">
										<div class="form-holder form-holder-main">
											<label class="form-row-inner">
												<input type='text' class='form-control input_text' name='input_text[]' id='input_text1' required>
												<span class="label">Person_1</span>
											</label>
										</div>
										<div class="form-holder form-holder-side">
											<button type='button' class='x_btn' onclick='remove_field(1);'>x</button>
										</div>
									</div>

									<!-- <div class="form-row">
										<div class="form-holder">
											<label class="form-row-inner">
												<input type="text" name="your_email_1" id="your_email_1" class="form-control"  required>
												<span class="label">E-Mail</span>
											</label>
										</div>
									</div> -->
								</div>
							</div>
			            </section>
		        	</div>
		        </form>
			</div>
		</div>
	</div>
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="../static/js/jquery.steps.js"></script>
	<script src="../static/js/jquery-ui.min.js"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>