
<!DOCTYPE html>
<script type="text/javascript">

    var expanded = false;

    function showCheckboxes(index) {
      var checkboxes = document.getElementById("checkboxes"+index);
      if (!expanded) {
        checkboxes.style.display = "block";
        expanded = true;
      } else {
        checkboxes.style.display = "none";
        expanded = false;
      }
    }


  function add_field()
  {
    var total_text=document.getElementsByClassName("trans_input");
    total_text=total_text.length+1;
    trans_div = document.getElementById("trans_div");
    /*new_input = "<li id='input_text"+total_text+
    "_wrapper'><label>Person "+total_text+"</label> <input type='text' class='input_text' name='input_text[]' id='input_text"+
    total_text+"' placeholder='Enter Text' required> <input type='button'value='x' onclick='remove_field("+total_text+");'></li>";
*/
    new_input = "<li id='trans_input"+total_text+"_wrapper' class='trans_input'> <select name='lenders' id='lender'>{% for user in users %}<option value='{{user}}'>{{user}}</option>{% endfor %} </select> <label for='lender'>paid</label> <input type='text' class='amount' name='amount[]' id='amount"+total_text+"' placeholder='Enter Amount' required> <label for='borrower'>, split with:</label> <div class='multiselect'> <div class='selectBox' onclick='showCheckboxes("+total_text+")'> <select> <option>Select an option</option>  </select> <div class='overSelect'></div>  </div>  <div id='checkboxes"+total_text+"'>  <input type='checkbox' id='checkbox_all_"+total_text+"' onClick='toggle(this,"+total_text+")' />All</label>  {% for user in users %}  <input type='checkbox' name='checkboxes"+total_text+"[]' id='checkbox_{{user}}_"+total_text+"' value='{{user}}' onClick='unsetAll("+total_text+")'' />{{user}}</label> {% endfor %} </div> </div></li>";
    trans_div.insertAdjacentHTML('beforeend',new_input);
  }

  function remove_field()
  {
    var total_text=document.getElementsByClassName("trans_input");
    document.getElementById("trans_input"+total_text.length+"_wrapper").remove();
  }

  function toggle(source,index) {
      checkboxes = document.getElementsByName('checkboxes'+index+'[]');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }

  function unsetAll(index) {
      checkboxes = document.getElementsByName('checkboxes'+index+'[]');
      checked = 0;
      for(var i=0, n=checkboxes.length;i<n;i++) {
        if(!checkboxes[i].checked ){
            document.getElementById('checkbox_all_'+index).checked = false;
        }else{
            checked++;
        }
      }
      if(checked==checkboxes.length){
        document.getElementById('checkbox_all_'+index).checked = true;
      }
    }
</script>

<head>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class = "container">
      <h1>Shittysplit</h1>
      <form action='/result' method="post">
        <div id="wrapper">
            <ul>
                {% for user in users %}
                    <li>{{user}}</li>
                {% endfor %}
            </ul>

          <ol id="trans_div">
            <li id='trans_input1_wrapper' class='trans_input'>
                <select name="lenders" id="lender">
                    {% for user in users %}
                        <option value="{{user}}">{{user}}</option>
                    {% endfor %}
                </select>
                <label for="lender">paid</label>
                <input type='text' class='amount' name='amount[]' id='amount1' placeholder='Enter Amount' required>

                <label for="borrower">, split with:</label>
                <div class="multiselect">
                    <div class="selectBox" onclick="showCheckboxes(1)">
                      <select>
                        <option>Select an option</option>
                      </select>
                      <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes1">
                        <input type="checkbox" id="checkbox_all_1" onClick="toggle(this,1)" />All</label>
                        {% for user in users %}
                            <input type="checkbox" name="checkboxes1[]" id="checkbox_{{user}}_1" value='{{user}}' onClick="unsetAll(1)" />{{user}}</label>
                        {% endfor %}
                    </div>
                </div>


                
            </li>
          </ol>
          
          <input id="add_btn" type="button" value="Add new espense" onclick="add_field();">
          <input id="delete_btn" type='button'value='Remove' onclick='remove_field();'>
        </div>
        <br>
        <input id="submit_btn" type='submit' value='Next'>
      </form>
    </div>
</body>